@import "../utils/vars";

.ticket {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 5px 25px rgba(91, 137, 164, 0.1);
  }
}

.ticket:last-child {
  margin-bottom: 0;
}

.ticket__devider {
  width: 1px;
  background-color: #eceff1;
}

.ticket__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 25px 20px;
  text-align: center;
}

.ticket__airline-logo {
  width: 120px;
  height: 40px;
  margin-bottom: 20px;
}

.ticket__airline-logo__image {
  width: 100%;
  height: auto;
}

.buy-button {
  width: 160px;
  height: 56px;
  color: #fff;
  background-color: #ff6d00;
  border: none;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #d64d08;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 #f7661d;
    background-color: #ff8124;
  }
}

.buy-button__text {
  display: block;
}

.buy-button__price {
  display: block;
}

.ticket-content {
  width: 100%;
  padding: 25px;
  color: #4a4a4a;
}

.ticket-content__top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.ticket-content__time {
  font-size: 32px;
  margin-bottom: 10px;
}

.ticket-stop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.ticket-stop__text {
  height: 13px;
  margin-top: 4px;
  color: #8b9497;
  font-size: 10px;
  text-transform: uppercase;
}

.ticket-stop__line {
  position: relative;
  width: 70%;
  height: 1px;
  margin-top: 8px;
  background-color: #d2d5d6;
}

.ticket-stop__line::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -6px;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding-bottom: 1px;
  background: #fff url("../../resources/img/ticket-route-airplane.svg") no-repeat top right;
  transform: rotate(90deg);
}

.ticket-content__bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.ticket-content__origin {
  text-align: left;
}

.ticket-content__destination {
  text-align: right;
}

.ticket-content__bottom-item {
  max-width: 130px;
}

.ticket-content__route-name {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.ticket-content__date {
  font-size: 12px;
  color: #8b9497;

  .ticket-content__date__time {
    text-transform: capitalize;
  }
}

@media only screen and (max-width: $mobile-width) {
  .ticket {
    flex-direction: column-reverse;

    .ticket__header {
      width: 100%;
    }

    .ticket__devider {
      width: 100%;
      height: 1px;
    }
  }
}

@media only screen and (max-width: $mobile-small-width) {
  .ticket-content__top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .ticket-content__time {
    margin-bottom: 0;
  }

  .ticket-stop {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .ticket-content__bottom-item {
    max-width: 90px;
  }
}
