@import "utils/vars";

.content {
  display: flex;
  flex-direction: row;
}

.content-top-filters {
  display: none;
}

.drawer-button {
  display: none;
}

@media only screen and (max-width: $tablet-width) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .content-top-filters {
    display: flex;
    flex-direction: row;

    .currency-controls {
      flex-grow: 1;
    }
  }

  .drawer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    font-size: 0;
    margin-left: 20px;
    border: 1px solid #2196f3;
    border-radius: 5px;
    outline: none;

    &--open {
      background: #2196f3 url("../resources/img/drawer-open.svg") no-repeat center;
    }

    &--close {
      z-index: 3;
      background: #2196f3 url("../resources/img/drawer-close.svg") no-repeat center;
    }

    &:hover {
      background-color: #2196f3;
    }
  }
}
