@import "utils/vars";

$drawer-width: 260px;

.drawer {
  position: fixed;
  top: 0;
  left: -$drawer-width;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $drawer-width;
  height: 100%;
  background-color: #fff;
  transition: 0.4s;

  &--opened {
    left: 0;
  }
}

.drawer__content {
  padding-top: 40px;
  padding-left: 20px;
}

.drawer__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;

  &--opened {
    visibility: visible;
    opacity: 0.3;
  }
}

@media only screen and (max-width: $mobile-small-width) {
  .drawer {
    width: 230px;
  }
}
