@import "sidebar/sidebar";
@import "header";
@import "drawer";
@import "content";
@import "tickets/tickets-list";
@import "utils/vars";

* {
  box-sizing: border-box;
}

body {
  color: #4a4a4a;
  font-family: "Open Sans", Tahoma, sans-serif;
  background-color: #f3f7fa;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  box-sizing: border-box;
}

.wrapper {
  max-width: 820px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: $mobile-width) {
  body {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}
