@import "../utils/vars";

.currency-controls {
  margin-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
}

.currency-controls__title {
  margin: 0 0 15px;
  color: #4a4a4a;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.5px;
}

.currency-controls__buttons {
  display: flex;
}

.currency-button {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 40px;
  margin: 0;

  font-size: 12px;
  color: #2196f3;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #d2d5d6;
  cursor: pointer;
  outline: none;

  &:first-child {
    border-radius: 5px 0 0 5px;
  }

  &:last-child {
    border-radius: 0 5px 5px 0;
  }

  &:not(:first-child) {
    margin-left: -1px;
  }

  &:not(.currency-button--active):hover {
    z-index: 2;
    background-color: #f2fcff;
    border: 1px solid #64b5f5;
  }

  &--active {
    z-index: 2;
    color: #ffffff;
    background-color: #2196f3;
    border: 1px solid #2196f3;

    &:hover {
      background-color: #2196f3;
      border: 1px solid #2196f3;
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  .currency-controls {
    padding: 0;
  }

  .currency-controls__title {
    display: none;
  }
}
