@import "currency";
@import "stops-filter";
@import "../utils/vars";

.sidebar__container {
  box-sizing: border-box;
  width: 232px;
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
}

@media only screen and (max-width: $tablet-width) {
  .sidebar__container {
    display: none;
  }
}
