@import "stops-filter-checkbox";

.stops-filter {
  .stops-filter__title {
    margin: 0 0 15px;
    color: #4a4a4a;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.5px;
  }
}
