.checkboxes-list__item {
  position: relative;
  display: block;
  width: 100%;
  line-height: 2.5;
  &:hover {
    background-color: #f1fcff;
  }
}

.checkboxes-list__label {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 15px;
  color: #4a4a4a;
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
}

.checkbox {
  display: inline-block;
  margin-right: 10px;
}

.checkbox__checkmark {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-bottom: -5px;
  border: 1px solid #d2d5d6;
  border-radius: 3px;
  transition: all 0.2s ease;
}

.checkbox__checkmark::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  display: none;
  width: 9px;
  height: 7px;
}

.checkbox .checkbox__checkmark::after {
  background: url("../../resources/img/checkbox-arrow.svg") center no-repeat;
}

.checkbox .checkbox__input:checked~.checkbox__checkmark {
  background-color: #f2fcff;
  border: 1px solid #2196f3;
  &::after {
    display: block;
  }
}

.checkbox__input {
  display: none;
}

.checkboxes-list__additional {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  height: 100%;

  &:hover {
    box-shadow: -5px 0 10px #f1fcff;
    background-color: #f1fcff;
  }

  .checkboxes-list__uncheck-other {
    height: 100%;
    color: #2196f3;
    background-color: #f1fcff;
    border: none;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;

    &:hover {
      color: #ff9d1b;
    }
  }
}

.checkboxes-list__item:hover .checkboxes-list__additional {
  visibility: visible;
}
